<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labs.okey.freeride" >

    <permission
        android:name="com.labs.okey.freeride.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.labs.okey.freeride.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <!-- Needed if camera pictures are stored locally -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Required for Wi-Fi Direct, especially for restarting WiFi -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required for Geofences -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Required for BLE -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PassengerRoleActivity"
            android:label="@string/title_activity_passenger_role"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".DriverRoleActivity"
            android:label="@string/title_activity_driver_role"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name=".CameraCVActivity"
            android:label="@string/title_activity_camera_cv"
            android:parentActivityName=".DriverRoleActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" >
        </activity>

        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
      <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
        <activity
            android:name=".MyRidesActivity"
            android:label="@string/title_activity_my_rides" >
        </activity>
        <activity
            android:name=".RideDetailsActivity"
            android:label="@string/title_activity_ride_details" >
        </activity>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.labs.okey.freeride" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".WiFiDirectBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".TransferService"
            android:exported="false" >
        </service>
        <service android:name=".GeofenceTransitionsIntentService" />

        <service
            android:name=".services.AutoUpdateService"
            android:enabled="true" >
        </service>

        <service
            android:name=".jobs.GeofencesDownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:enabled="true"
            android:name=".utils.wifip2p.SearchService" />

    </application>

    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

</manifest>
